<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/chapter8SocketsForClients/src/chapter8SocketsForClients/Example81dayTimeClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="chapter8SocketsForClients.Example81dayTimeClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="chapter8SocketsForClients"/>
</launchConfiguration>
