<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/7.Array.and.ArrayLists/src/examp_p252_InitArray.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="examp_p252_InitArray"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="7.Array.and.ArrayLists"/>
</launchConfiguration>
