{%extends "base.html"%}
{% load static %}

<title>নীড়পাতা</title>

{% block base_head %}
    <!--<link rel='stylesheet' href={% static "css/main.css"%}>-->
{% endblock %}

<!doctype html>
{%block content%}
<div class='text-center'>
    <h1>মালামাল</h1>
</div>
<div> {{title}} </div>
<img src="{%static 'img/himalaya.jpg'%}" class = 'img-fluid'>
<div class="row">
        <div class = "col">
            <p>
                {{ content }}
            </p>
        </div>
</div>
{%if premium_content%}
<div class = 'row'>
    <div class = 'col'>
        <h6>
            লগইন: {{ premium_content}}
        </h6>
    </div>
</div>
{%else%}
<h6>
    অনুগ্রহ করে লগইন/রেজিস্টার করুন। 
</h6>
{%endif%}
{%endblock%}
